body {
  font-family: 'PT Serif', serif;
}

h1 {
  margin-left: 20px;
}

.topics {
  font-size: 20px;
  font-weight: bold;
  font-family: 'PT Serif', serif;
}

.axis {
  font-size: 20px;
  font-weight: bold;
  font-family: 'PT Serif', serif;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

#pausePlayButton img {
  padding-bottom: 30px;
  margin: 0 auto;
  display: block;
}

p {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.quotation {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  font-style: italic;
  line-height: 2;
}
